<a href="https://colab.research.google.com/github/MahEUrooj/Lists-programs-in-python/blob/main/For_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
cars=['bmw','audi','toyota','honda']
cars[:]
for car in reversed(cars):
  print(car)
print("loop completed")

honda
toyota
audi
bmw
loop completed

In [9]:
vege=["spinach","ladyfinger","potato","onion","beetroot"]
vege.reverse()
vege[:]

['beetroot', 'onion', 'potato', 'ladyfinger', 'spinach']

In [13]:
fruits=['pineapple','blue-berry','strawberry','banana']
fruits.reverse()
for fruit in fruits:
  print(fruit)

banana
strawberry
blue-berry
pineapple

In [14]:
squares=[]
for value in range (1,11):
  squares.append(value**2)
  print(squares)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]
[1, 4, 9, 16, 25, 36, 49, 64]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
numb=[]
for value in range(1,11):
  numb.append(value)
  print(numb)

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
[2*i for i in range (1,6)]

[2, 4, 6, 8, 10]

In [19]:
v=[2 for i in range (1,6)]
print(v)

[2, 2, 2, 2, 2]

In [24]:
squares=[value**2 for value in range (1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]